html {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	background-color: darkgray;
}

a {
	text-decoration: none;
	color: white;
}

a:visited {
	color: white;
}

ul {
	list-style: none;
	padding: 0 15px;
}