table {
  border: 1px solid lightblue;
  border-spacing: 0;
  border-collapse: collapse;
  width: 800px;
  text-align: center;
  font-family: Verdana;
}

thead {
  font-weight: bold;
}

td, tr {
  border: 1px solid lightblue;
}

#order {
  height: 70px;
}

table>tbody>tr>td:nth-child(9) {
  background-color: lightgray;
}

td[colspan="9"]
{
  text-align: left;
  padding: 5px;
}
