@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
	padding: 0;
	margin: 0;
	font-family: Montserrat;
}

body {
	padding: 0;
	margin: 0;
}

a, a:active, a:visited {
	color: initial;
	text-decoration: none;
}